body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    line-height: 1.5;
    font-size: 150%;
    transition: background-image 1s ease-in-out;
}

h1 {
    text-align: center;
    border-bottom: 4px solid;
    font-family: "Kedebideri", sans-serif;
    margin-bottom: 1em;
    padding-bottom: 0.25em;
    color: #002626;
}

.container {
    background-color: #80bfff;
    padding: 50px;
    margin: 7em auto 0 auto;
    -webkit-filter: drop-shadow(0 1em 1em rgba(0, 0, 0, 0.1));
    filter: drop-shadow(0 1em 1em rgba(0, 0, 0, 0.1));
    transition: transform 0.5s ease;
}

.container:hover {
    transform: scale(1.07);
}

.input {
    border: none;
    outline: none;
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-family: "Life Savers", serif;
}

.main-weather {
    display: none;
    line-height: 2.2rem;
    height: 30vh;
    text-align: center;
    color: #0a3434;
    font-weight: bold;
    padding-bottom: 200px;
    font-family: "Merriweather", serif;
}

.temp {
    margin: 25px;
    font-size: 40pt;
}